F-8" standalone="no"?>
<xs:schema targetNamespace="http://purl.org/dc/dcmitype/" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://purl.org/dc/dcmitype/">
	<xsd:import xmlns:xsd="http://www.w3.org/2001/XMLSchema" namespace="http://schemas.openxmlformats.org/package/2006/metadata/core-properties"/><xsd:import xmlns:xsd="http://www.w3.org/2001/XMLSchema" namespace="http://purl.org/dc/elements/1.1/"/><xsd:import xmlns:xsd="http://www.w3.org/2001/XMLSchema" namespace="http://www.w3.org/XML/1998/namespace"/><xsd:import xmlns:xsd="http://www.w3.org/2001/XMLSchema" namespace="http://purl.org/dc/terms/"/><xs:annotation>
		<xs:documentation xml:lang="en">
      DCMI Type Vocabulary XML Schema
      XML Schema for http://purl.org/dc/dcmitype/ namespace

      Created 2003-04-02

      Created by 

      Tim Cole (t-cole3@uiuc.edu)
      Tom Habing (thabing@uiuc.edu)
      Jane Hunter (jane@dstc.edu.au)
     